page-reg-new-account {
    .list2{
        display:flex;
        flex-direction: column;
        justify-items: center;
        width: 100%;
        max-width: 100%;
        overflow-y: hidden;
    }
}
