page-mysite {
    .container_pin{
        height: 55px;
        background-color: darkblue;
    }
    .item-ios p{
        color:#8e9093;
    }
    .description_p{
        height:50px;
        overflow: hidden;
        padding: 2px;
        text-align: justify;
    }
    p.post_p,h2.post_p,h3.post_p{
        white-space: normal;
        text-align: justify;
    }
    h2.post_p,h3.post_p{
        color:white;
    }
    h3.post_p{
        font-size: 15px;
    }
}